@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Other St<br />
    Auckland<br />
    New Zealand<br />
    <abbr title="Phone">P:</abbr>
    021 555 5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@poniesrus.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@poniesrus.com</a>
</address>